header h1:first-of-type {
    color: blue;
}

header > nav {
    background-color: #eaeaea;
}

h1, h2, h3 {
    font-size: 18px;
    color: #333;
}

a:hover {
    color: green;
}

a:active {
    color: orange;
}

input:focus {
    outline: none;
    border: 2px solid blue;
}

.highlight {
    color: red;
}

#important-info {
    background-color: lightyellow;
}

section p:first-child {
    margin-top: 20px;
}

section p:last-child {
    background-color: #f0f0f0;
}

section h2 {
    color: #0055cc;
}

h2 + p {
    color: #666;
}

h2 ~ p {
    font-style: italic;
}

p {
    color: green;
}

p.highlight {
    color: red;
}

aside p {
    color: blue !important;
}

div {
    width: 400px;
    height: 200px;
    border: 2px solid #000;
}

#team-picture {
    width: 300px;
    border: 3px solid #333;
}

#story-video {
    width: 500px;
    height: 280px;
    /* Como el video actual no es un video real, no se puede ver sin un border */
    border: 3px solid #333; 
}